//-------------REUSEABLE-------------------------
.sc-text {
  font-family: var(--text-font);
  font-size: 15px;
  font-weight: 500;
}

.sc-heading {
  font-family: var(--heading-font);
  font-weight: 600;
}

