// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
}

@font-face {
  font-family: 'Lora', serif;
  src: url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
}

@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
}

:root {
  --text-font-family: "Century Gothic", sans-serif;
  --heading-font-family: Futura, sans-serif;
  --heading-font: 'Lora', serif;
  --text-font: 'Montserrat', sans-serif;

  --home-heading-font: 'Libre Baskerville', serif;
}
